.turkey img {
  width: 50%;
}

.hero {
  color: #846161;
  font-size: 80px;

  img {
    object-position: top;
  }
}

.turkey,
.turkey-container {
  font-size: var(--body-font-size-s);
}

.turkey > div {
  display: flex;
  flex-direction: column;
}

.external-link {
  a {
    display: inline-block;
    padding: 0 12px;
    color: white;
    background-color: #ff6319;
    text-decoration: none;
    border: 1px solid #ff6319;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    border-radius: 2px;
  }
}

.turkey > div > div {
  order: 1;
}

.turkey > div > .turkey-img-col {
  order: 0;
}

@media (width <= 900px) {
  .hero {
    font-size: 60px;
  }
}

@media (width >= 900px) {
  .turkey > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .turkey > div > div {
    flex: 1;
    order: unset;
  }
}
